.cosultingContainer
{
   
    display: flex;
   
    align-items: center;
   max-width: 77rem;
    width: 100%;
    margin: 0px auto;
   
    flex-wrap: wrap;
  
    row-gap: 2rem;
    column-gap: 7rem;
    justify-content: center;
    margin-bottom: 3rem;
    /* align-items: center; */
   
}

.appConsult
{
    width: 35rem;
    height: 25rem;
    
   
  

}

.uiuxConsult
{
    width: 35rem;
    height: 25rem;
   

    
}

@media (max-width : 600px)
{
    .appConsult
{
    width: 25rem;
    height: 25rem;
    
   
  

}

.uiuxConsult
{
    width: 25rem;
    height: 25rem;
   

    
}
}


@media (max-width : 390px)
{
    .appConsult
{
    width: 20rem;
    height: 25rem;
    
   
  

}

.uiuxConsult
{
    width: 20rem;
    height: 25rem;
   

    
}
}

.text
{
    position: absolute;
    bottom: 0px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
    color: white;
    padding: 1rem;
}