.heading
{
    margin-top: 100px;
}

.client_logo
{
    width: 75%;
    margin: 20px auto;
    padding: 20px;
    display:  flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:40px 60px;
    
}

.logo_width
{
    /* width: 10%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and ( max-width: 600px)
{
    .logo_width
    {
        width: 30%;
    }
}
    


