.teamBox {
    width: 400px;
} 


@media screen and (min-width : 560px) and (max-width:800px)
{
    .teamBox {
        
        width: 280px;
    }
}


.team_ {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

