.fontsize_1 {
    font-size: 30px;
}

.fontsize_2 {
    font-size: 25px;
}

.fontsize_3 {
    font-size: 17px;

}

.fontsize_4 {
    font-size: 21px;

}

.fontsize_5 {

    font-size: 19px;
}

.fontsize_6 {
    font-size: 35px;
}

.fontsize_7 {
    font-size: 40px;
}


.responsiveFont1 {
    font-size: 30px;
    font-weight: 600;
}

.responsiveFont2 {
    font-size: 25px;
    font-weight: 600;
}

.blueHeading
{
    font-size: 25px;
    font-weight: 600;
}

@media screen and (max-width:600px) {
    .fontPhone_1 {
        font-size: 11px;
    }

    .fontsize_6 {
        font-size: 30px;
    }


    .responsiveFont1 {
        font-size: 25px;
        font-weight: 600;
    }

    .responsiveFont2 {
        font-size: 20px;
        font-weight: 600;
    }





}





.fontweight_1 {
    font-weight: 600;
}

.fontweight_2 {
    font-weight: bold;
}

.fontweight_3 {
    font-weight: 500px;
}


.blueTextGlobalClass {
    color: rgba(1, 176, 241, 1);
}